.c-images {
    width: 100%; 
    max-height: 750px; 
}

#mainCarousel {
    position: relative;
}

.carousel-branding { 
    color:var(--ghost-white);
    position:absolute;
    z-index:12;
    margin-top: 18%;
    width:100%;
    text-align: center;
}

.carousel-control-next, .carousel-control-prev {
    z-index: 13
}

.brand-name {
    font-size: 50px;
    letter-spacing: 6px ;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 1.5rem;
    height: 1.5rem;
}

/* media queries */ 
@media (max-width: 1399.98px) {
    .carousel-branding { 
        margin-top: 26%;
    }
 }

@media (max-width: 1199.98px) {
    .carousel-branding { 
        margin-top: 30%;
    }
 }

@media (max-width: 991.98px) {
    .brand-name {
        font-size: 50px
    }
}

@media (max-width: 767.98px) {
    .brand-name {
        font-size: 40px
    }
}

@media (max-width: 575.98px) {
    .brand-name {
        font-size: 25px
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 1rem;
        height: 1rem;
    }
}

@media (max-width: 349.98px) {
    .brand-name {
        font-size: 20px
    }
}

