.c-images {
    width: 100%; 
    max-height: 750px; 
}

.carousel-branding { 
    color:#fff;
    position:absolute;
    z-index:12;
    top:40%;
    width:100%;
    text-align: center;
}

.carousel-control-next, .carousel-control-prev {
    z-index: 13
}

.brand-name {
    font-size: 70px;
    text-decoration: underline;
}

#mainCarousel{
    position:absolute;
    width:100%;
    top: -15;
  }