/* a:hover {
    color: gray
} */

.barr {
    color: #BBB5D6
}

#navTitle:hover {
    color: #BBB5D6
}

.navbar-background {
    background-color: transparent;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: var(--ghost-white); 
    text-decoration: none;
    transition-duration: 0.8s;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-nav .nav-link:hover {
    color: #BBB5D6
}

.navbar-light .navbar-toggler {
    color: var(--ghost-white); 
    border-color: transparent;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 14; 
}

/* media queries */
@media (max-width: 575.98px) {
    .navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
    }
}

@media (max-width: 375.98px) {
    .navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
        font-size: 12px;
    }
}


