:root {
    --charcoal: #2f4550; 
    --dark-electric: #586f7c; 
    --ghost-white: #f4f4f9; 
    --space-cadet: #192a51; 
    --indigo-dye: #2b4162 
}

a:hover {
    color: gray
}

.navbar-background {
    background-color: transparent;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: var(--ghost-white); 
    text-decoration: none;
    transition-duration: 0.8s;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--dark-electric)
}

.navbar-light .navbar-toggler {
    color: var(--ghost-white); 
    border-color: transparent;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 14; 
}


